VITE_API_URL=
VITE_CONTACT_EMAIL=
VITE_INSTAGRAM_URL=https://www.instagram.com/aldalouaa1?stkn=MWF3aW1taDl3YTFjcw==
VITE_FACEBOOK_URL=https://www.facebook.com/share/1BvF2LMzSV/
VITE_TIKTOK_URL=https://www.tiktok.com/@al.dalouaa?_r=1&_t=ZS-9A3rh2khpJa
VITE_WHATSAPP_URL=https://wa.me/qr/AHK23BEUWCP4A1
